In [27]:
#구현방식
#문장에 군집분석의 단어가 있는가?
#있다면 스페이스단위로 split해서 단어장 추가 단, 추가할때 용언분석기를 거치고 추가.

#용언분석기 추가
#term 아닌건 continue하는거 추가


# coding: utf-8

import pandas as pd
import glob
from afinn import Afinn
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
import numpy as np
import matplotlib.pyplot as plt

pos_review=(glob.glob("C:\\Users\\naruk\\Desktop\\Crawler\\잡아라!텍스트마이닝\\데이터\\aclImdb\\train\\pos\\*.txt"))[0:100]

lines_pos=[]
for i in pos_review:
    try:
        f = open(i, 'r')
        temp = f.readlines()[0]
        lines_pos.append(temp)
        f.close()
    except Exception as e:
        continue

In [28]:
len(lines_pos)

100

In [29]:
tokenizer = RegexpTokenizer('[\w]+')

In [30]:
stop_words = stopwords.words('english')

In [31]:
count = {}   #동시출현 빈도가 저장될 dict
for line in lines_pos:
    words =  line.lower()
    tokens = tokenizer.tokenize(words)
    stopped_tokens = [i for i in list(set(tokens)) if not i in stop_words+["br"]]
    stopped_tokens2 = [i for i in stopped_tokens if len(i)>1]
    for i, a in enumerate(stopped_tokens2):
        for b in stopped_tokens2[i+1:]:
            if a>b: 
                count[b, a] = count.get((b, a),0) + 1  
            else :
                count[a, b] = count.get((a, b),0) + 1     
                
                
"""
count = {}   #동시출현 빈도가 저장될 dict
for line in open('input.txt'):
    words = list(set(line.split()))   #단어별로 분리한 것을 set에 넣어 중복 제거하고, 다시 list로 변경
    for i, a in enumerate(words):
        for b in words[i+1:]:
            if a == b: continue   #같은 단어의 경우는 세지 않음
            if a > b: a, b = b, a   #A, B와 B, A가 다르게 세어지는것을 막기 위해 항상 a < b로 순서 고정
            count[a, b] = count.get((a, b), 0) + 1   #실제로 센다
"""

In [32]:
df=pd.DataFrame.from_dict(count, orient='index')

In [33]:
list1=[]
for i in range(len(df)):
    list1.append([df.index[i][0],df.index[i][1],df[0][i]])

In [34]:
df2=pd.DataFrame(list1, columns=["term1","term2","freq"])

In [35]:
df3=df2.sort_values(by=['freq'],ascending=False)

In [36]:
df3_pos=df3.reset_index(drop=True)

In [37]:
df3_pos.head(20)

    term1  term2  freq
0    film  story    41
1   movie    one    41
2    film  movie    35
3   movie  story    35
4     one  story    33
5    good  movie    32
6    film    one    31
7   movie    see    30
8    film   like    27
9     one    see    27
10  great  movie    26
11   good  story    26
12   like  movie    26
13   film   good    26
14   film   time    25
15  movie   time    25
16   film   well    25
17   good    one    25
18  movie   much    25
19   film    see    24